# Homework

This homework should consolidate everything you learnt in class today.

<br> 

## Question 1

Create a list with the following data, and assign it to a variable named shopping:
'spam' 'ham' 'eggs' 'ham'

Then do the following: 

1. Extract the second element of the list.

2. Extract the first to third (inclusive) element of the list.

3. Extract only the last element of the list.

In [25]:
food = ("spam", "ham", "eggs", "ham")

print(food[1])
print(food[0], food[1], food[2])
print(food[-1])

ham
spam ham eggs
ham

<br>

## Question 2

Set up a list with the following elements:

stops = ["Croy", "Cumbernauld", "Falkirk High", 
         "Linlithgow", "Livingston", "Haymarket"]

Perform the following:

1. Append Edinburgh Waverley to the end of the list
1. Add "Queen Street" to the start of the list
2. Find out what index "Croy" is at in the list
3. Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
4. Remove "Haymarket" from the list of stops
5. Remove all items from stops

Hint: Some of these methods will change the original object stops. If you make any unwanted changes and want to go back to the original object you can re-run the code chunks where we created the object stops and then appended "Edinburgh Waverley".

In [39]:
stops = ["Croy", "Cumbernauld", "Falkirk High", 
         "Linlithgow", "Livingston", "Haymarket"]

stops.append("Edinburgh Waverley")
print(stops)

stops.insert(0, "Queen Street")
print(stops)

print(stops.index("Croy"))

stops.insert(4, "Polmont")
print(stops)
stops.remove("Haymarket")
print(stops)
stops.clear()
print(stops)

['Croy', 'Cumbernauld', 'Falkirk High', 'Linlithgow', 'Livingston', 'Haymarket', 'Edinburgh Waverley']
['Queen Street', 'Croy', 'Cumbernauld', 'Falkirk High', 'Linlithgow', 'Livingston', 'Haymarket', 'Edinburgh Waverley']
1
['Queen Street', 'Croy', 'Cumbernauld', 'Falkirk High', 'Polmont', 'Linlithgow', 'Livingston', 'Haymarket', 'Edinburgh Waverley']
['Queen Street', 'Croy', 'Cumbernauld', 'Falkirk High', 'Polmont', 'Linlithgow', 'Livingston', 'Edinburgh Waverley']
[]

<br>

## Question 3

Set up the following dictionary:

`person = {"name": "Steph", "age": 31, "Instructor" : True}`

Do the following:

1. Return the keys, values and items from this dictionary

2. Take out only the name from it

3. Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

4. Delete the job description from the dictionary (*Hint: look up the `del` function*)

In [62]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

print("keys:",person.keys(), "\nvalues:",person.values(),"\nitems:",person.items())
print(person["name"])
person["email"] = "steph@codeclan.com"
print(person)
del person["Instructor"]
print(person)

keys: dict_keys(['name', 'age', 'Instructor'])
values: dict_values(['Steph', 31, True])
items: dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])
Steph
{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}
{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

<br>

## Question 4

For the following list of numbers: 

`numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]`

1. Print out a list of the even integers:

2. Print the difference between the largest and smallest value:

3. Print True if the list contains a 2 next to a 2 somewhere.

4. Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [89]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]
even_numbers = []
max = None
min = None
curNo = None
flag = None
count = int()

for i in numbers:
    if i % 2 == 0:
        even_numbers.append(i)

print(even_numbers)

for i in numbers:
    if max == None or max < i:
        max = i
    if min == None or min > i: 
        min = i

print("min =", min, "\nmax =", max)

for i in numbers:
    if curNo == i and curNo == 2:
        print("True")
    curNo = i

for i in numbers:
    if i == 6:
        flag = 1
    if flag == None:
        count += i
    if flag == 1 and i == 7:
        flag = None

print(count)

[6, 2, 2, 6]
min = 1
max = 99
True
2

<br>

## Question 5

Write a conditional that takes in two inputs : 

* `python_is_fun = True`
* `python_is_weird = True`

We want to print "Woo Python!" if either `python_is_fun` is `true` OR `python_is_weird` is `true` OR both `python_is_fun` and `python_is_weird` are true. Otherwise, print `"Python is not for me!"`. Make sure you test all the combinations.

In [95]:
python_is_fun = True
python_is_weird = True

if (python_is_fun == True and python_is_weird == True) or (python_is_fun == True or python_is_weird == True):
    print("Woo Python!")
else:
    print("Python is not for me!")

Woo Python!

<br>

## Question 6

We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

`chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]`


To write this as a loop, we'd do something like this: 

`total_eggs = 0`

`for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected`

`print(f"{total_eggs} eggs collected")`

Instead, we want to define a function which passes in a list, so that if we wanted to count eggs of a different list of chickens from another farm, we can use the same function, just pass in a different list.

We also want to return the string at the end, instead of using `print`.

In [113]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

def count_eggs(chicken_list):
    egg_count = int()
    for i in chicken_list:
        egg_count += i.get("eggs")
    return str(egg_count) + " eggs collected"

count_eggs(chickens)

'4 eggs collected'

<br>
<hr>

# Extensions


## Question 1
Set up the following collection: 

`
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]`

1. Change the capital of Wales from `"Swansea"` to `"Cardiff"`.

2. Create a dictionary for Northern Ireland and add it to the `united_kingdom` list (The capital is Belfast, and the population is 1,811,000).

3. Use a loop to print the names of all the countries in the UK.

4. Use a loop to find the total population of the UK.

In [141]:
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

united_kingdom[1]["capital"] = "Cardiff"
print(united_kingdom)

united_kingdom.append({
    "name": "Northern Ireland",
    "population": 1811000,
    "capital": "Belfast"
})
print(united_kingdom)

for i in united_kingdom:
    print(i.get("name"))

population = int()

for i in united_kingdom:
    population += i.get("population")

print(population)

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'}, {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'}, {'name': 'England', 'population': 53010000, 'capital': 'London'}]
[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'}, {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'}, {'name': 'England', 'population': 53010000, 'capital': 'London'}, {'name': 'Northern Ireland', 'population': 1811000, 'capital': 'Belfast'}]
Scotland
Wales
England
Northern Ireland
63179000

<br>

## Question 2

Set up the following:

`users = {
  "Jonathan": {
    "twitter": "jonnyt",
    "lottery_numbers": [6, 12, 49, 33, 45, 20],
    "home_town": "Stirling",
    "pets": [
    {
      "name": "fluffy",
      "species": "cat"
    },
    {
      "name": "fido",
      "species": "dog"
    },
    {
      "name": "spike",
      "species": "dog"
    }
  ]
  },
  "Erik": {
    "twitter": "eriksf",
    "lottery_numbers": [18, 34, 8, 11, 24],
    "home_town": "Linlithgow",
    "pets": [
    {
      "name": "nemo",
      "species": "fish"
    },
    {
      "name": "kevin",
      "species": "fish"
    },
    {
      "name": "spike",
      "species": "dog"
    },
    {
      "name": "rupert",
      "species": "parrot"
    }
  ]
  },
  "Avril": {
    "twitter": "bridgpally",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Dunbar",
    "pets": [
      {
        "name": "monty",
        "species": "snake"
      }
    ]
  }
}`

1. Get Jonathan's Twitter handle (i.e. the string `"jonnyt"`)
2. Get Erik's hometown
3. Get the array of Erik's lottery numbers
4. Get the species of Avril's pet Monty
5. Get the smallest of Erik's lottery numbers
6. Return an array of Avril's lottery numbers that are even
7. Erik is one lottery number short! Add the number `7` to be included in his lottery numbers
8. Change Erik's hometown to Edinburgh
9. Add a pet dog to Erik called "Fluffy"
10. Add another person to the users dictionary

In [70]:
import numpy as np

users = {
  "Jonathan": {
    "twitter": "jonnyt",
    "lottery_numbers": [6, 12, 49, 33, 45, 20],
    "home_town": "Stirling",
    "pets": [
    {
      "name": "fluffy",
      "species": "cat"
    },
    {
      "name": "fido",
      "species": "dog"
    },
    {
      "name": "spike",
      "species": "dog"
    }
  ]
  },
  "Erik": {
    "twitter": "eriksf",
    "lottery_numbers": [18, 34, 8, 11, 24],
    "home_town": "Linlithgow",
    "pets": [
    {
      "name": "nemo",
      "species": "fish"
    },
    {
      "name": "kevin",
      "species": "fish"
    },
    {
      "name": "spike",
      "species": "dog"
    },
    {
      "name": "rupert",
      "species": "parrot"
    }
  ]
  },
  "Avril": {
    "twitter": "bridgpally",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Dunbar",
    "pets": [
      {
        "name": "monty",
        "species": "snake"
      }
    ]
  }
}

print(users["Jonathan"].get("twitter"))
print(users["Erik"].get("home_town"))
print(users["Erik"].get("lottery_numbers"))
print(users["Avril"]["pets"]["name" == "monty"].get("species"))
print(sorted(users["Erik"]["lottery_numbers"])[0])

even_nos = []
for i in users["Avril"]["lottery_numbers"]:
  if i % 2 == 0:
    even_nos.append(i)
print(even_nos)

users["Erik"]["lottery_numbers"].append(7)
print(users["Erik"]["lottery_numbers"])

users["Erik"]["home_town"] = "Edinburgh"
print(users["Erik"]["home_town"])

users["Erik"]["pets"].append({"name":"fluffy", "species": "dog"})
print(users["Erik"]["pets"])

users["Andrew"] = {
  "twitter" : None, 
  "lottery_numbers": (9, 18, 27, 36, 45, 3), 
  "home_town": "Banchory", 
  "pets": [
    {"name": "Saturday", "species": "cat"}]
    }

print(users["Andrew"])

jonnyt
Linlithgow
[18, 34, 8, 11, 24]
snake
8
[12, 14, 38]
[18, 34, 8, 11, 24, 7]
Edinburgh
[{'name': 'nemo', 'species': 'fish'}, {'name': 'kevin', 'species': 'fish'}, {'name': 'spike', 'species': 'dog'}, {'name': 'rupert', 'species': 'parrot'}, {'name': 'fluffy', 'species': 'dog'}]
{'twitter': None, 'lottery_numbers': (9, 18, 27, 36, 45, 3), 'home_town': 'Banchory', 'pets': [{'name': 'Saturday', 'species': 'cat'}]}